@use "variables";
@use "mixins";

.logo {
  a {
    font-size: mixins.vw(35px, variables.$desktop);
    text-transform: uppercase;
    text-decoration: none;
    color: variables.$white;
    @include mixins.respond-to(laptop) {
      font-size: mixins.vw(35px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      font-size: mixins.vw(35px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      font-size: mixins.vw(35px, variables.$mobile);
    }
    small {
      font-size: mixins.vw(16px, variables.$desktop);
      @include mixins.respond-to(laptop) {
        font-size: mixins.vw(16px, variables.$laptop);
      }
      @include mixins.respond-to(tablet) {
        font-size: mixins.vw(16px, variables.$tablet);
      }
      @include mixins.respond-to(mobile) {
        font-size: mixins.vw(16px, variables.$mobile);
      }
    }
  }
}