@use "mixins";
@use "variables";

.card {
  width: calc(20% - #{mixins.vw(20px, variables.$desktop)});
  margin: 0 mixins.vw(20px, variables.$desktop) mixins.vw(20px, variables.$desktop) 0;
  padding: mixins.vw(20px, variables.$desktop);
  text-decoration: none;
  display: block;
  @include mixins.respond-to(desktop) {
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  @include mixins.respond-to(laptop) {
    width: calc(33.3333% - #{mixins.vw(13.3333px, variables.$laptop)});
    margin: 0 mixins.vw(20px, variables.$laptop) mixins.vw(20px, variables.$laptop) 0;
    padding: mixins.vw(20px, variables.$laptop);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include mixins.respond-to(tablet) {
    width: calc(50% - #{mixins.vw(10px, variables.$tablet)});
    margin: 0 mixins.vw(20px, variables.$tablet) mixins.vw(20px, variables.$tablet) 0;
    padding: mixins.vw(20px, variables.$tablet);
    @include mixins.respond-to(tablet) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include mixins.respond-to(mobile) {
    width: 100%;
    margin: 0 0 mixins.vw(20px, variables.$mobile) 0;
    padding: mixins.vw(20px, variables.$mobile);
  }
  &:hover {
    box-shadow: #ccc 5px 5px 10px;
  }
  .title {
    margin-bottom: mixins.vw(20px, variables.$desktop);
    @include mixins.respond-to(laptop) {
      margin-bottom: mixins.vw(20px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      margin-bottom: mixins.vw(20px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      margin-bottom: mixins.vw(20px, variables.$mobile);
    }
    h4 {
      font-size: mixins.vw(24px, variables.$desktop);
      text-decoration: none;
      text-transform: uppercase;
      color: variables.$gray;
      margin-bottom: 0;
      font-weight: normal;
      font-family: RobotoSlab, sans-serif;
      @include mixins.respond-to(laptop) {
        font-size: mixins.vw(24px, variables.$laptop);
      }
      @include mixins.respond-to(tablet) {
        font-size: mixins.vw(24px, variables.$tablet);
      }
      @include mixins.respond-to(mobile) {
        font-size: mixins.vw(24px, variables.$mobile);
      }
    }
  }
  .list {
    li {
      margin: mixins.vw(5px, variables.$desktop) 0;
      @include mixins.respond-to(laptop) {
        margin: mixins.vw(5px, variables.$laptop) 0;
      }
      @include mixins.respond-to(tablet) {
        margin: mixins.vw(5px, variables.$tablet) 0;
      }
      @include mixins.respond-to(mobile) {
        margin: mixins.vw(5px, variables.$mobile) 0;
      }
      strong {
        font-size: mixins.vw(20px, variables.$desktop);
        font-weight: 500;
        color: #000;
        @include mixins.respond-to(laptop) {
          font-size: mixins.vw(20px, variables.$laptop);
        }
        @include mixins.respond-to(tablet) {
          font-size: mixins.vw(20px, variables.$tablet);
        }
        @include mixins.respond-to(mobile) {
          font-size: mixins.vw(20px, variables.$mobile);
        }
      }
      span {
        font-size: mixins.vw(18px, variables.$desktop);
        color: variables.$gray;
        @include mixins.respond-to(laptop) {
          font-size: mixins.vw(18px, variables.$laptop);
        }
        @include mixins.respond-to(tablet) {
          font-size: mixins.vw(18px, variables.$tablet);
        }
        @include mixins.respond-to(mobile) {
          font-size: mixins.vw(18px, variables.$mobile);
        }
      }
    }
  }
}
