@use "variables";
@use "mixins";

.products {
  padding: mixins.vw(50px, variables.$desktop) 0;
  @include mixins.respond-to(laptop) {
    padding: mixins.vw(50px, variables.$laptop) 0;
  }
  @include mixins.respond-to(tablet) {
    padding: mixins.vw(50px, variables.$tablet) 0;
  }
  @include mixins.respond-to(mobile) {
    padding: mixins.vw(50px, variables.$mobile) 0;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }
}
