@import "variables";
@import "mixins";

header {
  border-bottom: 1px solid rgba($text, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: vw(60px, $desktop);
    @include respond-to(laptop) {
      height: vw(60px, $laptop);
    }
    @include respond-to(tablet) {
      height: vw(60px, $tablet);
    }
    @include respond-to(mobile) {
      height: vw(60px, $mobile);
    }
    .wrapper {
      display: flex;
      align-items: center;
      .logo-container {
        a {
          font-size: vw(35px, $desktop);
          text-transform: uppercase;
          text-decoration: none;
          color: $text;
          @include respond-to(laptop) {
            font-size: vw(35px, $laptop);
          }
          @include respond-to(tablet) {
            font-size: vw(35px, $tablet);
          }
          @include respond-to(mobile) {
            font-size: vw(35px, $mobile);
          }
          small {
            font-size: vw(16px, $desktop);
            @include respond-to(laptop) {
              font-size: vw(16px, $laptop);
            }
            @include respond-to(tablet) {
              font-size: vw(16px, $tablet);
            }
            @include respond-to(mobile) {
              font-size: vw(16px, $mobile);
            }
          }
        }
      }
      .change-language {
        display: flex;
        margin-left: vw(50px, $desktop);
        @include respond-to(laptop) {
          margin-left: vw(40px, $laptop);
        }
        @include respond-to(tablet) {
          margin-left: vw(30px, $tablet);
        }
        @include respond-to(mobile) {
          margin-left: vw(25px, $mobile);
        }
        li {
          margin-right: vw(10px, $desktop);
          cursor: pointer;
          @include respond-to(laptop) {
            margin-right: vw(10px, $laptop);
          }
          @include respond-to(tablet) {
            margin-right: vw(10px, $tablet);
          }
          @include respond-to(mobile) {
            margin-right: vw(10px, $mobile);
          }
          span {
            font-size: vw(18px, $desktop);
            color: #343434;
            text-transform: uppercase;
            @include respond-to(laptop) {
              font-size: vw(18px, $laptop);
            }
            @include respond-to(tablet) {
              font-size: vw(18px, $tablet);
            }
            @include respond-to(mobile) {
              font-size: vw(18px, $mobile);
            }
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        li {
          &:not(:last-child) {
            margin-right: vw(20px, $desktop);
            @include respond-to(laptop) {
              margin-right: vw(20px, $laptop);
            }
            @include respond-to(tablet) {
              margin-right: vw(20px, $tablet);
            }
            @include respond-to(mobile) {
              margin-right: vw(20px, $mobile);
            }
          }
          a, span {
            color: $text;
            text-decoration: underline;
            cursor: pointer;
            font-size: vw(20px, $desktop);
            @include respond-to(laptop) {
              font-size: vw(20px, $laptop);
            }
            @include respond-to(tablet) {
              font-size: vw(20px, $tablet);
            }
            @include respond-to(mobile) {
              font-size: vw(20px, $mobile);
            }
            &:hover {
              text-decoration: none;
            }
            &.active {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
