$mobile: 425;
$tablet: 768;
$laptop: 1024;
$desktop: 1920;

@mixin respond-to($arr) {
  @each $media in $arr {
    @if $media == mobile {
      @media only screen and (max-width: #{$mobile}px) {
        @content;
      }
    } @else if $media == tablet {
      @media only screen and (min-width: #{$mobile + 1}px) and (max-width: #{$tablet}px) {
        @content;
      }
    } @else if $media == laptop {
      @media only screen and (min-width: #{$tablet + 1}px) and (max-width: #{$laptop}px) {
        @content;
      }
    } @else if $media == desktop {
      @media only screen and (min-width: #{$laptop + 1}px) and (max-width: #{$desktop}px) {
        @content;
      }
    } @else if $media == landscape {
      @media only screen and (orientation: landscape) {
        @content;
      }
    } @else if $media == portrait {
      @media only screen and (orientation: portrait) {
        @content;
      }
    }
  }
}

@function vw($object, $width) {
  $vw: $width * 0.01 * 1px;
  @return calc($object / $vw) * 1vw;
}
