@use "variables";
@use "mixins";

.about {
  position: relative;
  z-index: 10;
  width: mixins.vw(500px, variables.$desktop);
  padding: mixins.vw(40px, variables.$desktop);
  background-color: #fff;
  @include mixins.respond-to(laptop) {
    width: mixins.vw(500px, variables.$laptop);
    padding: mixins.vw(40px, variables.$laptop);
  }
  @include mixins.respond-to(tablet) {
    width: mixins.vw(500px, variables.$tablet);
    padding: mixins.vw(40px, variables.$tablet);
  }
  @include mixins.respond-to(mobile) {
    width: 100%;
    padding: mixins.vw(20px, variables.$mobile);
  }
  .title {
    text-align: center;
    margin-bottom: mixins.vw(20px, variables.$desktop);
    padding-bottom: mixins.vw(10px, variables.$desktop);
    border-bottom: 1px solid variables.$gray;
    @include mixins.respond-to(laptop) {
      margin-bottom: mixins.vw(20px, variables.$laptop);
      padding-bottom: mixins.vw(10px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      margin-bottom: mixins.vw(20px, variables.$tablet);
      padding-bottom: mixins.vw(10px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      margin-bottom: mixins.vw(20px, variables.$mobile);
      padding-bottom: mixins.vw(10px, variables.$mobile);
    }
    h4 {
      font-size: mixins.vw(24px, variables.$desktop);
      @include mixins.respond-to(laptop) {
        font-size: mixins.vw(24px, variables.$laptop);
      }
      @include mixins.respond-to(tablet) {
        font-size: mixins.vw(24px, variables.$tablet);
      }
      @include mixins.respond-to(mobile) {
        font-size: mixins.vw(24px, variables.$mobile);
      }
    }
  }
  .text-container {
    text-align: center;
    p {
      font-size: mixins.vw(16px, variables.$desktop);
      @include mixins.respond-to(laptop) {
        font-size: mixins.vw(16px, variables.$laptop);
      }
      @include mixins.respond-to(tablet) {
        font-size: mixins.vw(16px, variables.$tablet);
      }
      @include mixins.respond-to(mobile) {
        font-size: mixins.vw(16px, variables.$mobile);
      }
    }
  }
}
