@import "variables";
@import "mixins";

.about {
  position: relative;
  z-index: 10;
  width: vw(500px, $desktop);
  padding: vw(40px, $desktop);
  background-color: #fff;
  @include respond-to(laptop) {
    width: vw(500px, $laptop);
    padding: vw(40px, $laptop);
  }
  @include respond-to(tablet) {
    width: vw(500px, $tablet);
    padding: vw(40px, $tablet);
  }
  @include respond-to(mobile) {
    width: 100%;
    padding: vw(20px, $mobile);
  }
  .title {
    text-align: center;
    margin-bottom: vw(20px, $desktop);
    padding-bottom: vw(10px, $desktop);
    border-bottom: 1px solid $gray;
    @include respond-to(laptop) {
      margin-bottom: vw(20px, $laptop);
      padding-bottom: vw(10px, $laptop);
    }
    @include respond-to(tablet) {
      margin-bottom: vw(20px, $tablet);
      padding-bottom: vw(10px, $tablet);
    }
    @include respond-to(mobile) {
      margin-bottom: vw(20px, $mobile);
      padding-bottom: vw(10px, $mobile);
    }
    h4 {
      font-size: vw(24px, $desktop);
      @include respond-to(laptop) {
        font-size: vw(24px, $laptop);
      }
      @include respond-to(tablet) {
        font-size: vw(24px, $tablet);
      }
      @include respond-to(mobile) {
        font-size: vw(24px, $mobile);
      }
    }
  }
  .text-container {
    text-align: center;
    p {
      font-size: vw(16px, $desktop);
      @include respond-to(laptop) {
        font-size: vw(16px, $laptop);
      }
      @include respond-to(tablet) {
        font-size: vw(16px, $tablet);
      }
      @include respond-to(mobile) {
        font-size: vw(16px, $mobile);
      }
    }
  }
}
