@use "variables";
@use "mixins";

.substrate {
  border: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  background-color: transparent;
  &::backdrop {
    background-color: rgba(#000, .6);
  }
  .modal {
    position: relative;
    text-align: left;
    padding: mixins.vw(35px, variables.$desktop);
    border-radius: 0.3vw;
    @include mixins.respond-to(laptop) {
      padding: mixins.vw(35px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      padding: mixins.vw(35px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      padding: mixins.vw(30px, variables.$mobile) 0 0;
    }
    .close-btn {
      cursor: pointer;
      position: absolute;
      top: mixins.vw(10px, variables.$desktop);
      right: mixins.vw(10px, variables.$desktop);
      @include mixins.respond-to(laptop) {
        top: mixins.vw(10px, variables.$laptop);
        right: mixins.vw(10px, variables.$laptop);
      }
      @include mixins.respond-to(tablet) {
        top: mixins.vw(10px, variables.$tablet);
        right: mixins.vw(10px, variables.$tablet);
      }
      @include mixins.respond-to(mobile) {
        top: 0;
        right: 0;
      }
    }
  }
}
