@import "reset-css/reset.css";
@import "variables";
@import "mixins";

:global {
  html, body, #root {
    height: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: vw(1600px, $desktop);
    margin: 0 auto;
  }
  html {
    box-sizing: border-box;
    &.hidden {
      overflow-y: scroll;
      height: 100%;
      body {
        height: 100%;
        overflow: hidden;
      }
    }
  }
  .icon {
    width: vw(24px, $desktop);
    height: vw(24px, $desktop);
    display: block;
    @include respond-to(laptop) {
      width: vw(24px, $laptop);
      height: vw(24px, $laptop);
    }
    @include respond-to(tablet) {
      width: vw(24px, $tablet);
      height: vw(24px, $tablet);
    }
    @include respond-to(mobile) {
      width: vw(24px, $mobile);
      height: vw(24px, $mobile);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: RobotoSlab, sans-serif;
}

main {
  flex: 1;
  padding-top: vw(60px, $desktop);
  @include respond-to(laptop) {
    padding-top: vw(60px, $laptop);
  }
  @include respond-to(tablet) {
    padding-top: vw(60px, $tablet);
  }
  @include respond-to(mobile) {
    padding-top: vw(60px, $mobile);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, button, input, select, option, textarea {
  outline: none;
  border: 0;
}

button {
  background-color: transparent;
  padding: 0;
}

input {
  appearance: none;
  -webkit-border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input[type="file"] {
  display: none;
}

a img {
  border: 0;
}


h1, h2, h3, h4, p {
  color: #343434;
}

h1, h2 {
  font-weight: 700;
  font-family: RobotoSlab, sans-serif;
  letter-spacing: vw(1px, $desktop);
}

h1 {
  font-size: vw(30px, $desktop);
  line-height: 1.33;
  margin-bottom: vw(30px, $desktop);
  @include respond-to(laptop) {
    font-size: vw(30px, $laptop);
    margin-bottom: vw(30px, $laptop);
  }
  @include respond-to(tablet) {
    font-size: vw(30px, $tablet);
    margin-bottom: vw(30px, $tablet);
  }
  @include respond-to(mobile) {
    font-size: vw(25px, $mobile);
    margin-bottom: vw(20px, $mobile);
  }
}

h2 {
  font-size: vw(20px, $desktop);
  line-height: 1.25;
  margin-bottom: vw(15px, $desktop);
  @include respond-to(laptop) {
    font-size: vw(20px, $laptop);
    margin-bottom: vw(15px, $laptop);
  }
  @include respond-to(tablet) {
    font-size: vw(20px, $tablet);
    margin-bottom: vw(15px, $tablet);
  }
  @include respond-to(mobile) {
    font-size: vw(20px, $mobile);
    margin-bottom: vw(15px, $mobile);
  }
}

h3, h4 {
  font-family: Ubuntu, sans-serif;
  letter-spacing: vw(1px, $desktop);
  @include respond-to(laptop) {
    letter-spacing: vw(1px, $laptop);
  }
  @include respond-to(tablet) {
    letter-spacing: vw(1px, $tablet);
  }
  @include respond-to(mobile) {
    letter-spacing: vw(1px, $mobile);
  }
}

h3 {
  font-weight: 700;
  font-size: vw(20px, $desktop);
  line-height: 1.25;
  margin-bottom: vw(15px, $desktop);
  @include respond-to(laptop) {
    font-size: vw(20px, $laptop);
    margin-bottom: vw(15px, $laptop);
  }
  @include respond-to(tablet) {
    font-size: vw(20px, $tablet);
    margin-bottom: vw(15px, $tablet);
  }
  @include respond-to(mobile) {
    font-size: vw(20px, $mobile);
    margin-bottom: vw(15px, $mobile);
  }
}

h4 {
  font-weight: 700;
  font-size: vw(14px, $desktop);
  line-height: 1.2;
  margin-bottom: vw(10px, $desktop);
  @include respond-to(laptop) {
    font-size: vw(14px, $laptop);
    margin-bottom: vw(10px, $laptop);
  }
  @include respond-to(tablet) {
    font-size: vw(14px, $tablet);
    margin-bottom: vw(10px, $tablet);
  }
  @include respond-to(mobile) {
    font-size: vw(14px, $mobile);
    margin-bottom: vw(10px, $mobile);
  }
}

p {
  font-size: vw(14px, $desktop);
  line-height: 2.14;
  @include respond-to(laptop) {
    font-size: vw(14px, $laptop);
  }
  @include respond-to(tablet) {
    font-size: vw(14px, $tablet);
  }
  @include respond-to(mobile) {
    font-size: vw(14px, $mobile);
  }
}
