@use "mixins";
@use "variables";

.page-not-found {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  strong {
    font-size: mixins.vw(50px, variables.$desktop);
  }
}
