@use "mixins";
@use "variables";

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  strong {
    font-size: mixins.vw(50px, variables.$desktop);
    @include mixins.respond-to(laptop) {
      font-size: mixins.vw(45px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      font-size: mixins.vw(40px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      font-size: mixins.vw(20px, variables.$mobile);
    }
  }
}
