@use "variables";
@use "mixins";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: variables.$black;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: mixins.vw(60px, variables.$desktop);
    @include mixins.respond-to(laptop) {
      height: mixins.vw(60px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      height: mixins.vw(60px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      height: mixins.vw(60px, variables.$mobile);
    }
    .wrapper {
      display: flex;
      align-items: center;
    }
  }
}
