@use "mixins";
@use "variables";

.product {
  padding: mixins.vw(50px, variables.$desktop) 0;
  @include mixins.respond-to(laptop) {
    padding: mixins.vw(50px, variables.$laptop) 0;
  }
  @include mixins.respond-to(tablet) {
    padding: mixins.vw(50px, variables.$tablet) 0;
  }
  @include mixins.respond-to(mobile) {
    padding: mixins.vw(50px, variables.$mobile) 0;
  }
  h1 {
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .link {
    color: variables.$gray;
    margin-top: mixins.vw(10px, variables.$desktop);
    font-size: mixins.vw(20px, variables.$desktop);
    text-decoration: none;
    @include mixins.respond-to(laptop) {
      margin-top: mixins.vw(10px, variables.$laptop);
      font-size: mixins.vw(20px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      margin-top: mixins.vw(10px, variables.$tablet);
      font-size: mixins.vw(20px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      margin-top: mixins.vw(10px, variables.$mobile);
      font-size: mixins.vw(20px, variables.$mobile);
    }
    &:hover {
      color: variables.$teal;
    }
  }
}
