@use "variables";
@use "mixins";

.container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  svg {
    width: mixins.vw(20px, variables.$desktop);
    margin-right: mixins.vw(5px, variables.$desktop);
    @include mixins.respond-to(laptop) {
      width: mixins.vw(20px, variables.$laptop);
      margin-right: mixins.vw(5px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      width: mixins.vw(20px, variables.$tablet);
      margin-right: mixins.vw(5px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      width: mixins.vw(20px, variables.$mobile);
      margin-right: mixins.vw(5px, variables.$mobile);
    }
  }
  .language {
    display: flex;
    padding: mixins.vw(10px, variables.$desktop);
    cursor: pointer;
    color: variables.$white;
    font-size: mixins.vw(16px, variables.$desktop);
    text-transform: uppercase;
    @include mixins.respond-to(laptop) {
      padding: mixins.vw(10px, variables.$laptop);
      font-size: mixins.vw(16px, variables.$laptop);
    }
    @include mixins.respond-to(tablet) {
      padding: mixins.vw(10px, variables.$tablet);
      font-size: mixins.vw(16px, variables.$tablet);
    }
    @include mixins.respond-to(mobile) {
      padding: mixins.vw(10px, variables.$mobile);
      font-size: mixins.vw(16px, variables.$mobile);
    }
    &:hover {
      background-color: variables.$gray;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    background-color: variables.$gray;
    position: absolute;
    top: 100%;
  }
}