@import "variables";
@import "mixins";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: vw(60px, $desktop);
    @include respond-to(laptop) {
      height: vw(60px, $laptop);
    }
    @include respond-to(tablet) {
      height: vw(60px, $tablet);
    }
    @include respond-to(mobile) {
      height: vw(60px, $mobile);
    }
    .wrapper {
      display: flex;
      align-items: center;
    }
  }
}
